.Profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    /* overflow-y: scroll; */
    scrollbar-width: none; /* Firefox browser */
    padding-bottom: 10rem;
}
.secondary {
    color: rgb(136, 153, 166);
}
.profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(56, 68, 77);
    cursor: pointer;
}
.fa-arrow-left {
    font-size: 1.25rem;
    color: rgb(31, 151, 226);
}
.home-arrow {
    padding: .5rem;
    width: fit-content;
    margin-right: 1rem;
    border-radius: 100%;
}
.home-arrow:hover {
    background: rgba(29, 161, 242, .15);
}
.header-user-info h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.header-user-info p {
    font-weight: 500;
}
.background-img {
    height: 12.5rem;
    background: rgb(61, 84, 102);
}
.details {
    position: relative;
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;
}
.prof-pic-wrapper {
    position: absolute;
    top: -3.25rem;
    left: 1rem;
    width: fit-content;
    border: 4px solid rgb(21, 32, 43);
    border-radius: 100%;
}
.details img {
    width: 96px;
    height: 96px;
    text-align: left;
    border-radius: 100%;
}
.edit-prof-btn {
    padding: .75rem 1rem;
    width: fit-content;
    margin-left: auto;
    font-size: 1rem;
    background: transparent;
    color: rgb(29, 161, 242);
    border: 2px solid rgb(29, 161, 242);
    border-radius: 9999px;
}
.details h1 {
    font-size: 1.75rem;
    font-weight: 700;
}
.details p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.follower-stats {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.follower-stats span {
    margin-right: .25rem;
    font-weight: 500;
}
p.following {
    margin-left: .75rem;
}
.Profile nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(136, 153, 166);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.Profile nav div {
    padding: .75rem;
    width: 100%;
    align-self: center;
    border-bottom: 1px solid rgb(56, 68, 77);
}
.Profile nav :nth-child(1) {
    color: rgb(29, 161, 242);
    border-bottom: 2px solid rgb(29, 161, 242);
}
.no-tweets {
    text-align: center;
    margin-top: 1.25rem;
    color: rgb(136, 153, 166);
    font-weight: 500;
}
.no-tweets a {
    color: rgb(29, 161, 242);
    text-decoration: underline;
    font-weight: 500;
}